#wrap{
    display: flex;
}

#googlemap{
    padding-top: 200px;
    padding-bottom: 70px;
    padding-left: 18vw;
}

.info {
    background-color: #fff;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 450px;
    max-height: 500px;
    margin-top: 200px;
    margin-left: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-size: 1.8em;
    margin-top: 20px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.info p {
    color: #555;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}